
<!DOCTYPE html>
<html>
<head>
    <title>Tableau de bord admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <nav class="navbar">
   <h1 class="hello">Bonjour <%= adminName %></h1> 

   <div class="searchbar">
    <input type="text" id="searchInput" placeholder="Search..">
    <button type="button" onclick="searchClients()">Rechercher</button>
</div>

    <form class="logout" href="/logout" method="get">
        <button type="submit" class="button logout-button">Déconnexion</button>
    </form>
    <a href="/dashboard/export" download>
        <button id="button-mob" class="save-mobile">Sauvegarder CSV</button>
    </a>
</nav>  

<div class="upload">
     <img src="/cloud.png" alt="" class="icon" width="60px">
     <form action="/dashboard/import" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
        <input type="file" name="csvfile" accept=".csv" required>
        <button type="submit" class="button">Uploader CSV or drag and drop</button>
    </form>
   
    <button onclick="location.href='/dashboard/addPage'" class="button"><img src="/plus.png" alt="plus" width="20"> Ajouter Client</button>

    

</div>
    
    
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th> <a href="/dashboard/export" download>
                    <button class="button">Sauvegarder CSV</button>
                </a></th>
            </tr>
        </thead>
        <tbody>
            <% clients.forEach(client => { %>
                <tr class="client">
                    <td><%= client.nom %></td>
                    <td><%= client.prenom %></td>
                    <td><%= client.email %></td>
                    <td><%= client.telephone %></td>
                    <td><%= client.adresse %></td>
                    <td class="btn-container">
             |
    
             <button class="delete-btn" data-id="<%= client.id %>">
               delete
            </button>
                            
                            <form action="/update/<%= client.id %>" method="get" class="delete">
                                <button type="submit" class="update-btn" >update</button>
                            </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

 

    
    <button type="submit" class="button logout-button logout-button-mobile">Déconnexion</button>
        </div>
    </div>


   <script src="/ajax.js"></script>
  
</body>
</html>
