
<!DOCTYPE html>
<html>
<head>
    <title>Tableau de bord admin</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
        .button {
            padding: 10px 20px;
            background-color: #4CAF50; /* Green background for general buttons */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin: 5px;
        }
        .logout-button {
            background-color: #f44336; /* Red background for the logout button */
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .left-buttons, .right-buttons {
            display: flex;
        }
    </style>
</head>
<body>
    
    
    <h1>Bonjour <%= adminName %></h1> 
    <h2>Liste des clients</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
            <% clients.forEach(client => { %>
                <tr>
                    <td><%= client.nom %></td>
                    <td><%= client.prenom %></td>
                    <td><%= client.email %></td>
                    <td><%= client.telephone %></td>
                    <td><%= client.adresse %></td>
                    <td>
             |
                        <a href="/delete/<%= client.id %>">Supprimer</a>
                        <a href="/update/<%= client.id %>">Modifier</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <form action="/logout" method="get">
        <button type="submit" class="button logout-button">Déconnexion</button>
    </form>

    <div class="button-container">
        <div class="left-buttons">
            <button onclick="location.href='/dashboard/addPage'" class="button">Ajouter Client</button>
            <button onclick="location.href='/dashboard/searchForm'" class="button">Chercher Client</button>
        </div>
        <div class="right-buttons">
            <!-- Importer et Exporter des clients en CSV -->
            <form action="/dashboard/import" method="post" enctype="multipart/form-data" style="display: inline;">
                <input type="file" name="csvfile" accept=".csv" required>
                <button type="submit" class="button">Uploader CSV</button>
            </form>
            <a href="/dashboard/export" download>
                <button class="button">Sauvegarder CSV</button>
            </a>
        </div>
    </div>
</body>
</html>
